body {
    font-family: 'Roboto', arial;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.header-container {
    background: #1f2937;
    display: flex;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
    flex: 1;
    padding: 1em 0 0 2em;
    align-items: center;
}

.header-link-container {
    font-size: 18px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em 0 0;
    gap: 1em;
}

.intro-container {
    background: #1f2937;
    display: flex;
}

.signup-container {
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-text {
    color: #f9faf8;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 10px;
}

.signup-text-body {
    color: #e5e7eb;
    font-size: 18px;
}

.img-container {
    display: flex;
    padding: 2em;
    flex-flow: column nowrap;
    min-width: 0;
}

button {
    background-color: #3882f6;
    color: white;
    margin-right: 6em;
    margin-top: 1em;
    border-radius: 4px;
    padding: 5px;
    border: 0;
    width: 120px;
    height: 40px;
    font-size: 16px;
}

.information-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 32px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.meme-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding-left: 5em;
    padding-right: 5em;
}

.meme {
    border: 7px solid lightblue;
    border-radius: 5px;
}

img {
    width: 100%;
}

a:link {
    text-decoration: none;
    color: #e5e7eb;
}

a:visited {
    color: #e5e7eb;
}